body{
    background-color: rgb(201, 201, 201);
}

header{
    background-color: rgb(185, 52, 165);
    border: 1px solid white;
    margin: 0px auto;
    width: 700px;
    height: 30px;
}

.cabecalho span{
    color: white;
}

/* .opcoes span{
    color: white;
    margin-left: 30px;
} */